@import '../../lib/vars.scss';

.product-container {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.product-description-container {
    flex: 2;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    .product-description-title {
        font-size: 28px;
        margin: 0 0 32px 0;
    }
}

.product-image {
    width: 100%;
    max-width: 680px;
}

.product-details {
    flex: 2;
    margin-top: 32px;
    .product-title {
        margin: 0px 0 32px 0;
        font-size: 24px;
        width: 70%;
    }

    .product-condition {
        margin-top: 0px;
        font-size: 14px;
    }

    .product-price {
        font-size: 46px;
        margin-bottom: 32px;
    }

    .product-decimals {
        font-size: 32px;
    }

    .product-buy {
        display: flex;
        height: 36px;
        align-items: center;
        justify-content: center;
        color: white;
        margin-right: 32px;
        border-radius: 3px;
        background-color: $blue;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {
    
    .product-container {
        flex-direction: column;
        text-align: center;
    }

    .product-details .product-title {
        width: 100%;
        margin: 32px;
    }

    .product-description-container {
        margin: 32px;
    }

    .product-buy {
        margin: 32px;
    }

}