@import '../../lib/vars.scss';

.result-container {
    padding: 16px 16px 0 16px;
    background-color: white;
}

.result {
    > * { display: inline-block; }
    border-bottom: 1px solid $grey1;
}
.result-container:last-child .result { border: none; }

.result-image {
    display: inline-block;
    height: 284px;
    width: 284px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.result-details {
    position: relative;
    margin-top: 50px;
    width: calc(100% - 316px);
    vertical-align: top;
}

.result-price {
    margin-bottom: 32px;
    font-size: 24px;
}

.result-shipping {
    padding-left: 10px;
    height: 22px;
}

.result-title {
    padding-top: 32px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.result-location {
    position: absolute;
    top: 32px;
    right: 50px;    
    font-size: 12px;
}